html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header {
	width: 100vw;
	margin-top: 50px;
	font-size: 1em;
	font-family:'Trykker', Helvetica;
	color: rgb(10,10,10);
	letter-spacing: 3px;

}

#header .center {
	text-align: center;
	font-size: 4em;
	letter-spacing: 1px;
	/* text-transform: uppercase; */
	
	}

#header .left {
	text-align: left;
	font-size: 1.5em;
	padding-left: 60px;
	display: inline;
	text-transform: uppercase;
	}
	
#header .years {
	font-size: 1em;
	text-align: right;
	padding-left: 64vw;
	padding-right: 80px;
	margin-right: 0px;
	display: inline;
	letter-spacing: 3px;
	font-family:Helvetica;
	line-height: 1.2em;
}	

#header ul {
	padding-right: 60px;
	margin-top: -30px;
}

#header li {
	display: inline;
}
	
#header a {
	text-decoration: none;
	color: rgb(10,10,10);
}	

#header a:hover {
	color: rgb(0,180,220);
}


#footer {
	width: 100vw;
	margin-top: 30px;
	margin-bottom: 100px;
/* 	top: 110%; */
	/* position: absolute; */
}

#footer ul {
	font-size: 1em;
	font-family:'Muli', Helvetica;
	padding: 10px;
	color: rgb(255,150,100);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#footer li {
	display: inline;
	margin-right: 50px;
}

#footer li:last-child {
	display: inline;
	margin-right:0px;
}

#footer a {
	text-decoration: none;
	color: rgb(10,10,10);
}

#footer a:hover {
	color: rgb(255,0,0);
	
}

#container {
	width: 100vw;
	height:auto;
	overflow: scroll;
	/* display:block; */
	
}


.painting {
	margin: 0px 0px 30px 0px;
	width: 100vw;
	text-align: center;
	line-height: 1;
	font-family: Helvetica;
	letter-spacing: 2px;

	
}

.painting img {
/* 	display: block; */
	margin-left: auto;
	margin-right: auto;
	height: 700px;
}

.big {
	width: 100vw;
	}

.big img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	
}


.painting h1 {
	font-size: 1.5em;
	padding-top: 1em;
}

.painting h2 {
	font-size: 1em;
	
}

.painting a{
	text-decoration: none;
}

.painting a:hover {
	text-decoration: none;
	color: rgb(0,230,150);
}



.nav {
	text-align: center;
	padding-top: 50px;
}

.nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(10,10,10);
	font-size: 1em;
	font-family:'Muli', Helvetica;
	text-align: center;
	letter-spacing: 1px;
	
}

.nav a:hover {
	color: rgb(255,200,0);
}

.helloimage img {
	margin-left: 30vw;
	margin-right: 30vw;
	margin-top: 50px;
	width: 40vw;
}